:root {
  --c-text: #fff6d5;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom, #701a75, #111);
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  color: var(--c-text);
  font-family: sans-serif;
  text-align: center;
}

h1,
h2 {
  text-transform: uppercase;
}

button, select {
  background: transparent;
  color: var(--c-text);
  border: 4px solid var(--c-text);
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}

button {
  margin-top: 2rem;
}

